// ------------------------
$blue:rgb(82, 103, 223);
// ------------------------
$pink:rgb(250, 89, 89);
// ------------------------
$dark-blue:rgb(36, 42, 69);
// ------------------------
$grey:rgb(145, 148, 162);
// ------------------------